.gallery{
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: auto;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    white-space: nowrap;
}

.row{
    margin-bottom: 0px !important;
}

.row .col{
    padding: 0 5px !important;
}

.card img{
    width: 70px;
    height: 70px;
}

.card{
    cursor: pointer;
    display: inline-block;
    width: 300px;
    margin: 5px;
    border-radius: 10px !important;
}

.card-content{
	background: linear-gradient(45deg, #00493e, #0e945b);
}

.season{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: #bc9f58;
    padding: 2px;
}

.mt-10 {
    margin: 10px 0;
}