body {
  background-color: black;
}

.green-mex {
  background-color: #00493e;
}

.card .card-action {
  padding: 8px 24px;
}

frame, iframe, video {
  border: none;
  border-radius: 5px;
}

input, textarea {
  color: white !important;
}

table, i {
  color: white !important;
}